body{
    max-width:650px;
    margin:40px auto;
    padding:0 10px;
    font:18px/1.5 -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;
    color:#444
}

h1,h2,h3{
    line-height:1.2;
    text-align: center;
}

hr{
    width: 50%;
}

.center{
    text-align: center;
}

img.portrait{
    margin:0 10 10 10;
    padding:0 10px;
    float: left;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 5px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}